/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 800;
    line-height: 80px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    height: 80px;
    margin-top: 30px;
}

/* Header */
.logo {
    vertical-align: middle;
    margin-left: 25px;
    height: 60px;
}

.title {
    background-color: #fff;
    height: 80px;
}