/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 800;
    line-height: 80px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 1px;
    border-radius: 5px;
}

.small {
    height: 80px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    background: #1e90ff;
    border-radius: 3px;
    color: #fff;
    padding: 5px 8px;
    margin-right: 6px;
    line-height: 80px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

h2,
ul {
    padding: 20px;
}

ul {
    list-style: none;
}

.blue {
    background-color: #45abea;
}

.violet {
    background-color: #9c72e4;
}

.orange {
    background-color: #f29e33;
}

.green {
    background-color: #64c0a9;
}

.purple {
    background-color: #d863a1;
}

.bg {
    padding: 5px 8px;
    border-radius: 20px;
    color: #fff;
}

.selector {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
}

.check {
    border-color: green;
    color: green;
}

.cross {
    border-color: red;
    color: red;
}


/* Header */
.logo {
    vertical-align: middle;
    margin-left: 25px;
    height: 60px;
}

.title {
    background-color: #fff;
    height: 80px;
}

.btn {
    padding-left: 20px;
}

/* Section list */
li {
    margin: 10px;
}